[merge]
   tool = nvimdiff
[mergetool]
   prompt = false
[mergetool "nvimdiff"]
   cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"

[diff]
   tool = nvimdiff
[difftool]
   prompt = false
[difftool "nvimdiff"]
   cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[fetch]
   prune = true

[init]
   defaultBranch = main

[core]
   editor = nvim

[user]
   name = ""
   email = ""
